<% @title = "Clientes" %>
<% @navbar = ['<span class="glyphicon glyphicon-user"></span>&nbsp;&nbsp;Clientes'.html_safe] %>

<%= render :partial => "shared/search_field" %>
<div id="search_results">
  <%= render :partial => "search" %>
</div>


