* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 8pt;
    margin: 0;
}

.header, .footer, .navigation, .sidenav, .title, .print_link, nav.navlist, nav.navbar, a.print, div.panel-footer {
    display: none;
}

h3.page-title {
    text-align: center;
}
