* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 8px;
  margin: 0;
}

.header, .footer, .navigation, .sidenav, .title, .print_link, nav.navlist, nav.navbar, a.print, div.panel-footer,
div.noticeExplanation {
    display: none;
}

h3.page-title {
    text-align: center;
}
