* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #fff;
    height: 100%;
}

a {
    color: #36C;
}

a:hover {
    color: #06F;
}

body {
    background: #EEE url(/images/bg.gif);
}

.logo {
    background: url(/images/logo-optica.png) no-repeat center;
    background-size: 25%;
    height: 150px;
}

code {
    background: url(/images/bgcode.gif);
    border: 1px solid #F0F0F0;
    border-left: 6px solid #39F;
    color: #555;
    display: block;
    font-style: normal;
    font-size: 1.2em;
    margin-bottom: 12px;
    padding: 8px 10px;
    white-space: pre;
}

cite {
    background: url(/images/quote.gif) no-repeat;
    color: #666;
    display: block;
    padding-left: 28px;
    font-style: normal;
}

header {
    background: url(/images/cloud_background.jpg) no-repeat;
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.header {
    background: url(/images/header.gif) repeat-x;
}

.title h1 {
    color: #ffffff;
    font-weight: bold;
    height: 100px;
    text-align: center;
}

.container {
    background: #ffffff;
    margin: 0 auto;
    padding: 20px;
    width: 100%;
}

.navlist li.navbar-right {
    margin-right: 0;
}

.navlist li.navitems:nth-last-of-type(-n+2) {
    padding: 10px;
}

td.jobs a {
    color: #ff0000;
    font-weight: bold;
}

nav.menu-left {
    margin: 20px 20px 20px 0;
    padding: 0 10px 10px 10px;
}

div.tblclient {
    margin-top: 20px;
}

h3.page-title {
    display: none;
}

div.footer {
    background-color: #555555;
    color: #ffffff;
}

.copyleft {
    background: url(/images/Copyleft-mini-white.png) no-repeat scroll 0% 50%;
    padding-left: 20px;
}